@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Sriracha', cursive;
}

header{
    width: 360px;
    height: 75px;
    background-color: rgb(68, 170, 238);
}

.inputs{
    margin: 12px 0;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs > input {
    width: 270px;
    margin: 12px 0;
    outline: none;

}

.interfax{
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
.prop{
    /* color cambiar */
    background-color: #00faa0;
    width: 320px;
    height: 50px;
    margin: 8px ;
}


/* MAPA */
#mapid { height: 350px;
width: 360px; 

}